<tr>
  {% for field in form %}
    <td>
      {{ field }}

      {% if field.name == 'account' %}
        <datalist id="usernames-datalist">{{ form.datalist|safe }}</datalist>
      {% endif %}

      {% if field.errors %}
        <ul class="text-danger">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
  {% endfor %}
  <td>X</td>
</tr>

<button type="button" class="btn btn-success" hx-get="{% url 'multideposit_create' %}" hx-target="#multi-form" hx-swap="beforeend" >Add More</button>