{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div>
    {% include 'base/error_messages.html' %}
    <!-- To Display Messages If Any -->
  </div>
  
    <div class="container">
      <div class="page-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Loan Voided List</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="multi-filter-select" class="display table table-hover">
                    <thead>
                      <tr>
                        <th>Member ID</th>
                        <th>Member Name</th>
                        <th>Loan Amount</th>
                        <th>Loan Tenure</th>
                        <th>Purpose</th>
                       
                        <th>Application Date</th>
                       
                        
                        
                        <th>Rejected / Cancelled Reason</th>
                        {% if user.is_staff or user.managed_community.exists %}
                        <th class="text-center">Action</th>
                        {% endif %}
                      </tr>
                    </thead>

                    <tbody>
                     
                      {% for loan in loans %}
                        <tr>
                          <td class="text-left">{{ loan.member_id }}</td>
                          <td class="text-left">{{ loan.member }}</td>
                          <td class="text-left">{{ loan.amount }}</td>
                          {% if loan.tenure == 1 %}
                          <td class="text-left">{{ loan.tenure }} month</td>
                          {% else %}
                          <td class="text-left">{{ loan.tenure }} months</td>
                          {% endif %}
                          <td class="text-left">{{ loan.purpose }}</td>
                          
                          <td class="text-left">{{ loan.application_date }}</td>
                          
                         
                          
                          <td class="text-left">{{ loan.rejected_reason }}</td>
                          
                          
                          {% if user.is_staff or user.managed_community.exists %}
                          <td class="text-center">
                            <a href="{% url 'loan_update' loan.pk %}" class="btn btn-icon btn-round btn-info btn-xs" data-bs-toggle="tooltip" title="Edit Member"><i class="fa fa-user-edit"></i></a>
                            &nbsp;|&nbsp;
                            <a href="" class="btn btn-icon btn-round btn-xs btn-danger" data-bs-toggle="tooltip" title="Delete Member"><i class="fas fa-trash-alt"></i></a>
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

{% endblock %}
