{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div>
    {% include 'base/error_messages.html' %}
    <!-- To Display Messages If Any -->
  </div>
  
    <div class="container">
      <div class="page-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Loaner List</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="multi-filter-select" class="display table table-hover">
                    <thead>
                      <tr>
                        <th>Loan Account ID</th>
                        <th>Member Name</th>
                        <th>Loan Amount</th>
                        <th>Interest Per Day</th>
                        <th>Accrued Interest</th>
                        <th>Monthly Interest</th>
                        <th>Loan Tenure</th>
                        <th>Interest Rate</th>
                        
                        <th>Days To Expiry</th>
                        
                        <th>Start Date</th>
                        <th>End Date</th>
                        
                        <th>Guarantor</th>
                        <th>Repayment Type</th>
                        <th>Penalty Type</th>
                        <th>Penalty Value</th>
                       
                        {% if user.is_staff %}
                        <th class="text-center">Action</th>
                        {% endif %}
                      </tr>
                      
                    </thead>

                    <tbody>
                     
                      {% for loan in loan_accounts %}
                        
                      
                        <tr>
                          <td class="text-left">
                            <a href="{% url 'loan_interest_list' loan.loan_account_number %}">
                              {{ loan.loan_account_number }}
                            </a>
                          </td>
                          <td class="text-left">{{ loan.loan.member }}</td>
                          <td class="text-left">{{ loan.loan.loan_amount }}</td>
                          <td class="text-left">{{ loan.interest_per_day }}</td>
                          <td class="text-left">{{ loan.accrued_interest }}</td>
                          <td class="text-left">{{ loan.monthly_interest }}</td>
                          {% if loan.tenure == 1 %}
                          <td class="text-left">{{ loan.loan.tenure }} month</td>
                          {% else %}
                          <td class="text-left">{{ loan.loan.tenure }} months</td>
                          {% endif %}
                          <td class="text-left">{{ loan.loan.interest_rate }} %</td>
                          <td class="text-left">{{ loan.loan.days_to_expiryProperty }}</td>
                          <td class="text-left">{{ loan.loan.start_date }}</td>
                          <td class="text-left">{{ loan.loan.end_date }}</td>
                          <td class="text-left">{{ loan.loan.guarantor }}</td>
                          <td class="text-left">{{ loan.loan.repayment_type }}</td>
                          <td class="text-left">{{ loan.loan.penalty_type }}</td>
                          {% if loan.loan.penalty_type == "Rate" %}
                          <td class="text-left">{{ loan.loan.penalty_value }} %</td>
                          {% else %}
                          <td class="text-left">Rs. {{ loan.loan.penalty_value }}</td>
                          {% endif %}
                          
                          
                          {% if user.is_staff %}
                          <td class="text-center">
                            <a href="{% url 'loan_update' loan.pk %}" class="btn btn-icon btn-round btn-info btn-xs" data-bs-toggle="tooltip" title="Edit Member"><i class="fa fa-user-edit"></i></a>
                            &nbsp;|&nbsp;
                            <a href="" class="btn btn-icon btn-round btn-xs btn-danger" data-bs-toggle="tooltip" title="Delete Member"><i class="fas fa-trash-alt"></i></a>
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   
    <!-- Floating Button -->
    <div class="fixed-action-btn btn-outline-link">
      <a href="{% url 'loan_apply' %}" class="btn-floating btn-icon-prepend" title="Apply For New Loan"><i class="fas fa-plus-circle"></i></a>
    </div>

  
    {% comment %} {% if not user.is_staff %}
    <h1>You Are Smart Enough To View This Page</h1>
    {% endif %} {% endcomment %}
{% endblock %}
