{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div>
    {% include 'base/error_messages.html' %}
    <!-- To Display Messages If Any -->
  </div>
  
    <div class="container">
      <div class="page-inner">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Loan Payment Scheduel for Loan Tenure of 12 months</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="multi-filter-select" class="display table table-hover">
                    <thead>
                      <tr>
                        <th>Month</th>
                        <th>Monthly Interest Amount</th>
                        <th>Paid Amount</th>
                        
                       
                        {% if user.is_staff or user.managed_community.exists %}
                        <th class="text-center">Action</th>
                        {% endif %}
                      </tr>
                      
                    </thead>

                    <tbody>
                     
                      {% for interest in loan_interest_lists %}
                        <tr>
                          <td class="text-left">{{ interest.get_month_display }}</td>
                          <td class="text-left">{{ interest.interest_amount }}</td>
                          <td class="text-left">{{ interest.paid_amount }}</td>
                          
                          
                          {% if user.is_staff or user.managed_community.exists %}
                          <td class="text-center">
                            <a href="{% url 'loan_interest_update' interest.pk %}" class="btn btn-icon btn-round btn-info btn-xs" data-bs-toggle="tooltip" title="Edit Member"><i class="fa fa-user-edit"></i></a>
                            
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}

                      <tr>
                        <th colspan="3">Total Interest Paid</th>
                        <th> {{loan_interest_paid}} </th>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   
    <!-- Floating Button -->
    <div class="fixed-action-btn btn-outline-link">
      <a href="{% url 'loan_apply' %}" class="btn-floating btn-icon-prepend" title="Apply For New Loan"><i class="fas fa-plus-circle"></i></a>
    </div>

  
    {% comment %} {% if not user.is_staff %}
    <h1>You Are Smart Enough To View This Page</h1>
    {% endif %} {% endcomment %}
{% endblock %}
